* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-image: url("japan.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);  /* dark overlay */
    z-index: -1;
}


.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 15px 0;
    background-color: rgba(169, 42, 4, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);
}

.navbar:hover {
    background-color: rgba(169,42,4,0.85);
    transition: 0.3s;
}

.navbar.scrolled {
    box-shadow: 0 4px 20px rgba(0,0,0,0.45);
    background-color: rgba(169, 42, 4, 0.85);
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 20px;
    transition: 0.3s ease ;
}

.logo:hover {
    transform: scale(1.05);
    letter-spacing: 1px;
}

.All-Links {
    text-decoration: none;
    display: flex; 
    align-items: center;
    gap: 20px;  
    margin-right: 20px;
}

.All-Links a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 8px;
    transform: 0.3s ease;
}

.All-Links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #ffd8b3;
    transition: width 0.3s ease;
}

.All-Links a:hover {
    color: #ffd8b3;
    background-color: rgba(255,255,255,0.2);
    transform: translateY(-2px);
}

.All-Links a:hover::after {
    width: 100%;
}

.hero {
     min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px;
    max-width: 600px;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: #0f0f0f;
    text-shadow: 0 2px 8px rgba(255, 255, 255, 0.35);
}

.hero p {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #111;
    font-weight: 500;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.btn {
    margin-top: 20px;
    padding: 12px 28px;
    background-color: #e35704;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-top-right-radius: 1px;
    transition: 0.3s;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
}

.btn:hover {
    background-color: #ffffff;
    color: #e35704;
    border-top-right-radius: 30px;
    box-shadow: 0px 5px 15px rgba(255,255,255,0.4);
    transform: translateY(-2px);
}

.btn:active {
    transform: scale(0.96);
}

.about {
    background: rgba(0, 0, 0, 0.6);
    margin: 50px auto;
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
}

.about h2{
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
}

.about p {
    font-size: 1rem;
    line-height: 1.6;
    color: #ddd;
}

.projects {
    margin: 50px auto 80px;
    max-width: 900px;
    text-align: center;
}

.projects h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 25px;
    color: #fff;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}

.project-card {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.15);
    transition: 0.3s;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

.project-card h3 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #fff;
}

.project-card p {
    font-size: 0.95rem;
    line-height: 1.5;
    color: #ddd;
    margin-bottom: 15px;
}

.project-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #e35704;
    color: #fff;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.project-btn:hover {
    background-color: #fff;
    color: #e35704;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(227, 87, 4, 0.4);
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.footer {
    text-align: center;
    padding: 18px 0;
    color: #eee;
    background-color: rgba(0,0,0,0.3);
    margin-top: 40px;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255,255,255,0.15);
    animation: fadeUp 1.2s ease forwards;
    opacity: 0;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about h2, 
.projects h2 {
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .hero {
        text-align: center;
        align-items: center;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .btn {
        margin-left: 0;
    }
}

@media (max-width:600px) {
    .logo {
        margin-left: 10px;
        font-size: 1.1rem;
    }
    .All-Links {
        margin-right: 10px;
        gap: 10px;
        font-size: 0.9rem;
    }
}

.section {
    margin-bottom: 60px;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1.2s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.delay1 {
    animation-delay: 0.3s;
}

.delay2 {
    animation-delay: 0.6s;
}

.delay3 {
    animation-delay: 0.9s;
}

.slide-left {
    opacity: 0;
    transform: translateX(-30px);
    animation: slideLeft 1s ease forwards;
}

@keyframes slideLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.contact {
    background-color: rgba(0,0,0,0.6);
    margin: 50px auto;
    padding: 25px;
    max-width: 600px;
    text-align: center;
}

.contact h2 {
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contact p {
    color: #ddd;
    font-size: 1rem;
    margin-bottom: 15px;
}

.contact-box {
    margin-top: 20px;
}

.social-links {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links a {
    color: #e35704;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.social-links a:hover {
    color: #fff;
}

.gmail-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #e35704;
    color: #fff;
    font-weight: 600;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.gmail-btn:hover {
    background-color: #fff;
    color: #e35704;
}
