* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-image: url("japan.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.navbar {
    width: 100%;
    padding: 15px 30px;
    background-color: rgba(169, 42, 4, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
}

.hero {
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px;
    max-width: 600px;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: #0f0f0f;
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}

.hero p {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #111;
    font-weight: 500;
}

.btn {
    margin-top: 20px;
    padding: 12px 28px;
    background-color: #e35704;
    border-radius: 30px;
    border-top-right-radius: 1px;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-color: #ffffff;
    color: #e35704;
    border-top-right-radius: 30px;
}
