* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-image: url("japan.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.navbar {
    width: 100%;
    padding: 15px 30px;
    background-color: rgba(169, 42, 4, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
}

.All-Links {
    text-decoration: none;
    display: flex; 
    align-items: center;
    gap: 20px;  
}

.All-Links a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s;
}


.All-Links a:hover {
    color: #ffd8b3;
}

.hero {
     min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px;
    max-width: 600px;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: #0f0f0f;
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}

.hero p {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #111;
    font-weight: 500;
}

.btn {
    margin-top: 20px;
    padding: 12px 28px;
    background-color: #e35704;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-top-right-radius: 1px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ffffff;
    color: #e35704;
    border-top-right-radius: 30px;
}

.about {
    background: rgba(0, 0, 0, 0.6);
    margin: 50px 20px;
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
}

.about h2{
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
}

.about p {
    font-size: 1rem;
    line-height: 1.6;
    color: #ddd;
}